
body {
  height: 100%;
}
.App {
  height: 100%;

  display: grid;
  grid-template-columns: 2fr 0.5fr 0.5fr;
  grid-template-rows: 1fr;
}
.List-Container {
  --primary: #68C2DB;

  background-color: var(--primary);

  margin: 1rem;
  height: 90vh;
  padding: 1rem;
}

.List-Container ul {
  list-style-type: none;
  padding: 0;
}
.List-Container ul .Queue-Item {
  --primary: wheat;

  padding: 8px;
  margin: 10px;
  background-color: var(--primary);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


