
.Queue {
    grid-column: 2;
}
.Queue .List-Container {
    --primary: #68C2DB;

    background-color: var(--primary);

    margin: 1rem;
    height: 90vh;
    padding: 1rem;
}
.Queue .List-Container ul {
    list-style-type: none;
    padding: 0;
}
.Queue .List-Container ul .Queue-Item {
    --primary: wheat;

    padding: 8px;
    margin: 10px;
    background-color: var(--primary);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

